body {
    background-color: whitesmoke;
}

h1 {
    color: black;
    text-decoration-line: underline;
    text-align: center;
}

#latestmeeting {
    color:rgba(255, 0, 0, 0.884)
}

.box {
    display: inline-block;
    position:static;
    width:1400px;
    height:300px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 2em;
    padding-left: 0em;
    padding-top: 0em;
    padding-bottom: 2em;
    padding-right: 20;
    border-style:dotted;
    border-width: 5px;
    border-color: black;
}

.alternate{
    display: block;
    min-width: 1000px;
    max-width: 1200px;
    max-height: 100px;
    margin: 3ex 1cm .5in .5in;
    padding: 0em 0em 2em 2em;
    border: 2rem solid pink;
}

.flex-container {
    display: flex;
    background: darkolivegreen;
    justify-content: center;
    flex-wrap: nowrap;
}

.flex-container > div {
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
}

.grid-container {
    display:grid;
    row-gap: 10px;
    justify-items: center;
    align-items: stretch;
    grid-template-columns: 2 2 2;
    background-color: darkred;
    padding: 15px;
}

.grid-item {
    position:relative;
    background-color: lightcoral;
    padding: 30px;
    border: 3px solid black;
    padding: 15px;

}

@media only screen and (max-width: 2000px) {
    body {
        background-color: white;
    }
}